In [1]:
%classpath add jar libs/*

In [2]:
import tech.tablesaw.api.*;
import tech.tablesaw.io.xlsx.*;
import static tech.tablesaw.aggregate.AggregateFunctions.*;

// display Tablesaw tables with BeakerX table display widget
tech.tablesaw.beakerx.TablesawDisplayer.register();

//init objek
Table  wenny= Table.read().csv("datasets/12181625/12181625.csv");

//print dataset structure
System.out.println(wenny);

//init objek XlsReader
XlsxReader reader = new XlsxReader();
XlsxReadOptions options = XlsxReadOptions.builder("datasets/12181625/12181625.xlsx").build();
Table tab = reader.read(options);

Table dfDataXLS = reader.read(options);

////Menampilkan struktur data frame dfDataXLS
System.out.println(dfDataXLS.structure());

//menggabungkan data pada dataframedata1 dan dataframedata2 untuk disimpan di df datagabung
Table datagabung = wenny.append(dfDataXLS);

//menampilkan gabungan data yang ada di dataframe datagabung
System.out.println(datagabung); 

//menampilkan summary data yang ada di dataframe datagabung kolom "grade"
System.out.print(datagabung.summarize("nilai", mean, max, min).apply());

                                                                                                                              12181625.csv
 _id  |  idx  |                                                                series                                                                 |  kode_wilayah  |           wilayah           |  tahun  |  triwulan  |  bulan  |  tanggal  |  nilai  |  target  |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
   1  |    0  |  Jumlah Rumah Tangga Pertanian Menurut Wilayah dan Sumber Pendapatan Utama dari Usaha di Sektor Penangkaran Satwa atau Tumbuhan Liar  |             1  |                  Indonesia  |   2013  |            |         |           |    187  |          |
   2  |    1  |  Jumlah Rumah Tangga Pertanian Menurut Wilayah dan Sumber Pendapatan Utama dari Usaha di Sektor Penangkaran Satwa atau Tumbuhan Liar  |            11  |                       ACEH  |   2013  |            |         |           |     42  |          |
   3  |    2  |  Jumlah Rumah Tangga Pertanian Menurut Wilayah dan Sumber Pendapatan Utama dari Usaha di Sektor Penangkaran Satwa atau Tumbuhan Liar  |            12  |             SUMATERA UTARA  |   2013  |            |         |           |         |          |
   4  |    3  |  Jumlah Rumah Tangga Pertanian Menurut Wilayah dan Sumber Pendapatan Utama dari Usaha di Sektor Penangkaran Satwa atau Tumbuhan Liar  |            13  |             SUMATERA BARAT  |   2013  |            |         |           |         |          |
   5  |    4  |  Jumlah Rumah Tangga Pertanian Menurut Wilayah dan Sumber Pendapatan Utama dari Usaha di Sektor Penangkaran Satwa atau Tumbuhan Liar  |            14  |                       RIAU  |   2013  |            |         |           |         |          |
   6  |    5  |  Jumlah Rumah Tangga Pertanian Menurut Wilayah dan Sumber Pendapatan Utama dari Usaha di Sektor Penangkaran Satwa atau Tumbuhan Liar  |            15  |                      JAMBI  |   2013  |            |         |           |         |          |
   7  |    6  |  Jumlah Rumah Tangga Pertanian Menurut Wilayah dan Sumber Pendapatan Utama dari Usaha di Sektor Penangkaran Satwa atau Tumbuhan Liar  |            16  |           SUMATERA SELATAN  |   2013  |            |         |           |         |          |
   8  |    7  |  Jumlah Rumah Tangga Pertanian Menurut Wilayah dan Sumber Pendapatan Utama dari Usaha di Sektor Penangkaran Satwa atau Tumbuhan Liar  |            17  |                   BENGKULU  |   2013  |            |         |           |         |          |
   9  |    8  |  Jumlah Rumah Tangga Pertanian Menurut Wilayah dan Sumber Pendapatan Utama dari Usaha di Sektor Penangkaran Satwa atau Tumbuhan Liar  |            18  |                    LAMPUNG  |   2013  |            |         |           |         |          |
  10  |    9  |  Jumlah Rumah Tangga Pertanian Menurut Wilayah dan Sumber Pendapatan Utama dari Usaha di Sektor Penangkaran Satwa atau Tumbuhan Liar  |            19  |  KEPULAUAN BANGKA BELITUNG  |   2013  |            |         |           |         |          |
 ...  |  ...  |                                                                                                                                  ...  |           ...  |                        ...  |    ...  |       ...  |    ...  |      ...  |    ...  |     ...  |
 437  |  436  |  Jumlah Rumah Tangga Pertanian Menurut Wilayah dan Sumber Pendapatan Utama dari Usaha di Sektor Penangkaran Satwa atau Tumbuhan Liar  |          7310  |                      BARRU  |   2013  |            |         |           |         |          |
 438  |  437  |  Jumlah Rumah Tangga Pertanian Menurut Wilayah dan Sumber Pendapatan Utama dari Usaha di Sektor Penangkaran Satwa atau Tumbuhan Liar  |          7311  |                       BONE  |   2013  |            |         |           |         |          |
 439  |  438  |  Jumlah Rumah Tangga Pertanian Menurut Wilayah dan Sumber Pendapatan Utama dari Usaha di Sektor Penangkaran Satwa atau Tumbuhan Liar  |          7312  |                    SOPPENG  |   2013  |            |         |           |         |          |
 440  |  439  |  Jumlah Rumah Tangga Pertanian Menurut Wilayah dan Sumber Pendapatan Utama dari Usaha di Sektor Penangkaran Satwa atau Tumbuhan Liar  |          7313  |                       WAJO  |   2013  |            |         |           |         |          |
 441  |  440  |  Jumlah Rumah Tangga Pertanian Menurut Wilayah dan Sumber Pendapatan Utama dari Usaha di Sektor Penangkaran Satwa atau Tumbuhan Liar  |          7314  |          SIDENRENG RAPPANG  |   2013  |            |         |           |         |          |
 442  |  441  |  Jumlah Rumah Tangga Pertanian Menurut Wilayah dan Sumber Pendapatan Utama dari Usaha di Sektor Penangkaran Satwa atau Tumbuhan Liar  |          7315  |                    PINRANG  |   2013  |            |         |           |         |          |
 443  |  442  |  Jumlah Rumah Tangga Pertanian Menurut Wilayah dan Sumber Pendapatan Utama dari Usaha di Sektor Penangkaran Satwa atau Tumbuhan Liar  |          7316  |                   ENREKANG  |   2013  |            |         |           |         |          |
 444  |  443  |  Jumlah Rumah Tangga Pertanian Menurut Wilayah dan Sumber Pendapatan Utama dari Usaha di Sektor Penangkaran Satwa atau Tumbuhan Liar  |          7317  |                       LUWU  |   2013  |            |         |           |         |          |
 445  |  444  |  Jumlah Rumah Tangga Pertanian Menurut Wilayah dan Sumber Pendapatan Utama dari Usaha di Sektor Penangkaran Satwa atau Tumbuhan Liar  |          7318  |                TANA TORAJA  |   2013  |            |         |           |         |          |
 446  |  445  |  Jumlah Rumah Tangga Pertanian Menurut Wilayah dan Sumber Pendapatan Utama dari Usaha di Sektor Penangkaran Satwa atau Tumbuhan Liar  |          7322  |                 LUWU UTARA  |   2013  |            |         |           |         |          |
        Structure of 12181625.xlsx
 Index  |  Column Name   |  Column Type  |
------------------------------------------
     0  |           _id  |      INTEGER  |
     1  |           idx  |      INTEGER  |
     2  |        series  |       STRING  |
     3  |  kode_wilayah  |      INTEGER  |
     4  |       wilayah  |       STRING  |
     5  |         tahun  |      INTEGER  |
     6  |         nilai  |      INTEGER  |

ERROR:  java.lang.IllegalStateException